In [30]:
# import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from workalendar.america import Quebec
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()


# set up the figure size
%matplotlib inline

# import data file
file_path = '/Users/wesamazaizeh/Desktop/Thinkful_Main_Course/Data_Cleaning_Challenge/WELLCOME_APCspend2013_forThinkful.csv'
open_data = pd.read_csv(file_path, encoding='unicode_escape')

In [31]:
open_data.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [32]:
open_data.tail()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
2122,2901593,Wolters Kluwer Health,Circulation Research,Mechanistic Links Between Na+ Channel (SCN5A) ...,£1334.15
2123,3748854,Wolters Kluwer Health,AIDS,Evaluation of an empiric risk screening score ...,£1834.77
2124,3785148,Wolters Kluwer Health,Pediatr Infect Dis J,Topical umbilical cord care for prevention of ...,£1834.77
2125,PMCID:\n PMC3647051\n,Wolters Kluwer N.V./Lippinott,AIDS,Grassroots Community Organisations' Contributi...,£2374.52
2126,PMID: 23846567 (Epub July 2013),Wolters Kluwers,Journal of Acquired Immune Deficiency Syndromes,A novel community health worker tool outperfor...,£2034.75

In [33]:
def overview(df):
    print('There is {} unique Journal titles to start with'.format( df['Journal title'].nunique() ))
    print('\nThe top 10 are:\n{}'.format( df['Journal title'].value_counts()[:10] ))
overview(open_data)

There is 984 unique Journal titles to start with

The top 10 are:
PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
PLoS Neglected Tropical Diseases                   18
Human Molecular Genetics                           18
Nature Communications                              17
PLoS Genetics                                      15
PLoS Pathogens                                     15
Name: Journal title, dtype: int64

In [34]:
# handling case sensitivity by converting all journal titles to lowercase
open_data['Journal title'] = open_data['Journal title'].str.lower()
overview(open_data)

There is 928 unique Journal titles to start with

The top 10 are:
plos one                                           190
journal of biological chemistry                     53
neuroimage                                          29
plos genetics                                       24
plos pathogens                                      24
nucleic acids research                              23
plos neglected tropical diseases                    20
proceedings of the national academy of sciences     20
nature communications                               19
human molecular genetics                            19
Name: Journal title, dtype: int64

In [71]:
# handling missing space between words such as, 'plosone' instead of 'plos one'
open_data['Journal title'].str.replace(' ','').nunique()

# replacing elements that have a missing space based on changing value_counts
reduced_list = open_data['Journal title'].str.replace(' ','').value_counts().index
for val, cnt in open_data['Journal title'].value_counts().iteritems():
    red_val = val.replace(' ','')
    if reduced_list[red_val] > cnt:
        open_data.loc[open_data['Journal title']==red_val, 'Journal title'] = val

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [76]:
c = 0
for val, cnt in open_data['Journal title'].value_counts().iteritems():
    if cnt is not None: c+=1
print(c)

928

In [69]:
open_data['Journal title'].str.replace(' ','').nunique()

895

In [46]:
# handling missing space between words such as, 'plosone' instead of 'plos one'
open_data['Journal title'].str.replace('.','').nunique()

925

In [50]:
# Comprehensive solution:
"""
create function that take a function, applies it to column (e.g. 'Journal title'), and evluates value_counts.
If value counts goes up for a category, all of the corresponding values that got merged into that category should be 
converted to match the corresponding more frequent value.
"""

def match_convert(column, method):
    if column.str.method().nunique() != columnnunique():
        for val, cnt in column.value_counts().iteritems():
            print('{}  {}'.format(val,cnt))
            
match_convert(open_data['Journal title'], replace('.',''))

NameError: name 'replace' is not defined